<%= stylesheet_link_tag    "welcome" %>
<div id="welcome_container" class="fullscreen background" data-img-width="1600" data-img-height="1064">
    <div class="content-a">
        <div class="content-b">
            <h1>Playlister</h1>
            <%= link_to 'Start Creating', new_playlist_path, class: 'button large radius' %> 
        </div>
    </div>
</div>