<div class="row">
  <div class="small-12 large-6 columns">
    <div class="row collapse field">
      <div class="small-10 columns">
        <input type="text" id="soundcloud-search" placeholder="Search Soundcloud">
      </div>
      <div class="small-2 columns">
        <a href="javascript:;" class="button postfix" id="soundcloud-search-btn">Search</a>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="playlist_id" value="<%= @playlist.id %>" />
<div class="row">
  <ul id="soundcloud-results">
    
  </ul>
</div>
